HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Firebase
src/main/resources/serviceAccountKey.json

# Logs & output
*.log
*.log.*
*log*.txt
*error*.txt
*latest*.txt
build_*.txt
compile_*.txt
run_*.txt
tree*.txt
last_*.txt
